* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark: #2f2f2f;
    --light: #f0f0f0;
    --highlight: #632020;
    --hover: #eeca00;
}

body {
    background-color: var(--dark);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--light);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--highlight);
    height: 50px;
}

h1 {
    font-size: xx-large;
    padding-left: 100px;
    padding-right: 10px;
    background-color: var(--dark);
}

.nav {
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: larger;
    padding: 15px;
}

.nav a {
    margin: 10px 30px;
    color: var(--light);
}

.nav a:hover {
    color: var(--hover);
}

.splash-image {
    display: flex;
    background-image: url('../images/cyberspace-image.jpg');
    background-size: 100% 100%;
    height: 400px;
}

h2 {
    margin: 50px;
    margin-top: 270px;
    font-size: xx-large;
}

h3 {
    font-size: 200%;
}

main {
    display: flex;
    flex-direction: column;
}

main > * {
    margin: 30px 60px;
}

article {
    display: flex;
    align-items: center;
}

.about-me-figure h3 {
    text-align: center;
}

.profile {
    width: 175px;
    height: 175px;
    margin: 10px auto 10px auto;
}

.blurb {
    font-size: 22px;
    margin-left: 30px;
}

.blurb2 {
    margin-top: 20px;
}

p {
    margin-left: 50px;
    font-size: 120%;
}

#projects {
    display: flex;
}

.project-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 2%;
    margin-left: 90px;
}

.big-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 161vh;
    height: 80vh;
    margin-left: 6vh;
}
  
.small-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80vh;
    height: 40vh;
    max-width: 100%;
}

.aside {
    background-color: var(--highlight);
    color: var(--light);
}

#refact-that-code {
    background-image: url('../images/refact-image.jpg');
    background-size: cover;
}

#prework-study-guide {
    background-image: url('../images/prework-image.jpg');
    background-size: cover;
}

#under-construction {
    background-image: url('../images/under-image.jpg');
    background-size: cover;
}

#coming-soon {
    background-image: url('../images/coming-image.jpg');
    background-size: cover;
}

#en-route {
    background-image: url('../images/en-image.jpg');
    background-size: cover;
}

#contact-me {
    display: flex;
}

section {
    display: flex;
}

.main-project {
    display: flex;
}

#contact-me ul {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .projects {
        display: flex;
        flex-direction: column;
    }
}